<div class="section">
    <h2 class="sectionTitle">Personal Interests</h2>
    <div class="interests">
        <div class="interest-item">
            <i class="fas fa-biking"></i>
            <p>Doing sports</p>
        </div>
        <div class="interest-item">
            <i class="fas fa-book"></i>
            <p>Reading a book</p>
        </div>
        <div class="interest-item">
            <i class="fas fa-people-group"></i>
            <p>Meeting friends</p>
        </div>
        <div class="interest-item">
            <i class="fas fa-laptop-code"></i>
            <p>Coding</p>
        </div>
        <div class="interest-item">
            <i class="fas fa-tree"></i>
            <p>Taking a walk</p>
        </div>
    </div>
</div>

<style>
    .interests {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;  
    }

    .interest-item {
        margin: 1.5em;
        text-align: center;
    }

    .interest-item i {
        font-size: 2.5rem;
    }
</style>