<div class="section">
    <h2 class="sectionTitle">Welcome! I'm glad, you are here!</h2>
    <p class="bio">
        I’m Madeleine, and i work as a web developer since more than { new Date().getFullYear() - 2014 } years. I'm passionate 
        about delivering high quality web experiences on a clean and maitainable code base. Learn more about me below.
    </p>
    <p>
        Want to work with me? Don't hesitate to contact me: 
        <a href="mailto:madeleine.redl@gmail.com">madeleine.redl@gmail.com</a>
    </p>
</div>

<style>
    .bio {
		line-height: 1.7;
		margin-bottom: 2rem;
	}
</style>